@import "tailwindcss";

:root {
  --brand: #4C4FE6;
  --bg: #EAEAF2;
  --ink: #2E3252;
}

body {
  background: var(--bg);
  color: var(--ink);
  font-family: 'IBM Plex Sans Thai', system-ui, sans-serif;
}
